
/* Custom */
.modal-vertical-center {
    margin-top: 20%;
}

#chat-messages, #chat-users {
    height: 400px;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
}

#users-typing {
    min-height: 20px;
    margin-top: 5px;
    font-style: italic;
}

.message-username {
    font-weight: bold;
}

.message-text {
    display: inline-block;
    max-width: 80%;
}

.message-time {
    display: inline-block;
    width: 65px;
}

/* Overrides */
#chat-box .panel-footer .form-group {
    margin: 0;
}

#chat-box .panel-body {
    padding-bottom: 5px;
}

.modal-title {
    color: #000000;
}
