
/* Custom */
.modal-vertical-center {
    margin-top: 20%;
}

#chat-messages, #chat-users {
    height: 400px;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
}

#user-typing {
    min-height: 20px;
    margin-top: 5px;
    font-style: italic;
}

.message {
    display: inline-block;
    max-width: 90%;
}

.message-time {
    display: inline-block;
    width: 65px;
}

/* Overrides */
#chat-modal .modal-footer .alert {
    margin: 0;
}

#chat-message-form .form-group {
    margin: 0;
}

#chat-window .panel-body {
    padding-bottom: 5px;
}

/* elements that are hidden initially */
.modal-footer {
    display: none;
}

#settings-menu {
    display: none;
}

#chat-modal-form .has-feedback .glyphicon {
    display: none;
}
